aiohttp==3.8.1
aiosignal==1.2.0
apache-airflow-providers-http==4.1.0
appdirs==1.4.4
appnope==0.1.3
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asn1crypto==1.5.1
asttokens==2.0.8
async-timeout==4.0.2
attrs==22.1.0
backcall==0.2.0
beautifulsoup4==4.11.1
bleach==5.0.1
blinker==1.7.0
boto3==1.24.67
botocore==1.27.67
build==1.0.3
CacheControl==0.13.1
cachetools==5.2.0
certifi==2022.6.15
cffi==1.15.1
chardet==5.2.0
charset-normalizer==2.1.1
cleo==2.1.0
click==8.1.3
colorama==0.4.6
contourpy==1.0.7
crashtest==0.4.1
cryptography==36.0.2
cycler==0.11.0
debugpy==1.6.3
decorator==5.1.1
defusedxml==0.7.1
delegator.py==0.1.1
diff_cover==8.0.1
distlib==0.3.7
docker==6.0.1
dulwich==0.21.6
entrypoints==0.4
exceptiongroup==1.2.0
executing==1.0.0
fastavro==1.6.0
fastjsonschema==2.19.0
filelock==3.13.1
Flask==2.0.1
fonttools==4.38.0
frozenlist==1.3.1
fsspec==2022.8.2
funcy==1.17
gcsfs==2022.8.2
google-api-core==2.10.0
google-api-python-client==2.70.0
google-auth==2.11.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.5.2
google-cloud-core==2.3.2
google-cloud-kms==2.12.1
google-cloud-secret-manager==2.12.4
google-cloud-storage==2.5.0
google-crc32c==1.5.0
google-resumable-media==2.3.3
googleapis-common-protos==1.56.4
grpc-google-iam-v1==0.12.4
grpcio==1.48.1
grpcio-status==1.48.1
httplib2==0.21.0
idna==3.3
importlib-metadata==6.8.0
iniconfig==2.0.0
installer==0.7.0
ipykernel==6.15.2
ipython==8.4.0
ipython-genutils==0.2.0
ipywidgets==8.0.1
itsdangerous==2.1.2
jaraco.classes==3.2.2
jedi==0.18.1
Jinja2==3.1.2
jmespath==1.0.1
jsonschema==4.14.0
jupyter==1.0.0
jupyter-console==6.4.4
jupyter-core==4.11.1
jupyter_client==7.3.5
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.2
keyring==24.3.0
kiwisolver==1.4.4
lxml==4.9.1
MarkupSafe==2.1.1
matplotlib==3.6.3
matplotlib-inline==0.1.6
mistune==2.0.4
more-itertools==8.14.0
msgpack==1.0.7
multidict==6.0.2
nbclient==0.6.7
nbconvert==7.0.0
nbformat==5.4.0
nest-asyncio==1.5.5
notebook==6.4.12
npm==0.1.1
numpy==1.23.2
oauthlib==3.2.0
optional-django==0.1.0
-e git+ssh://org-49461806@github.com/squareup/mde-orchestra-mde.git@e364f174939b867628306ea2208113d408ea5dac#egg=orchestra
oscrypto==1.3.0
packaging==21.3
pandas==1.4.4
pandocfilters==1.5.0
parso==0.8.3
pathspec==0.12.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.4.0
pkginfo==1.9.6
platformdirs==3.11.0
pluggy==1.3.0
poetry==1.7.1
poetry-core==1.8.1
poetry-plugin-export==1.6.0
prometheus-client==0.14.1
prompt-toolkit==3.0.30
proto-plus==1.22.1
protobuf==4.21.5
psutil==5.9.1
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==8.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pycryptodomex==3.15.0
Pygments==2.13.0
PyJWT==2.4.0
pyOpenSSL==22.0.0
pyparsing==3.0.9
pyproject_hooks==1.0.0
pyrsistent==0.18.1
pysnowflake==0.14.1
pytest==7.4.3
python-dateutil==2.8.2
pytz==2022.2.1
PyYAML==6.0
pyzmq==23.2.1
qtconsole==5.3.2
QtPy==2.2.0
rapidfuzz==3.5.2
regex==2023.10.3
requests==2.28.1
requests-oauthlib==1.3.1
requests-toolbelt==0.10.1
rsa==4.9
s3fs==0.4.2
s3transfer==0.6.0
Send2Trash==1.8.0
shellingham==1.5.4
six==1.16.0
sniffio==1.2.0
snowflake-connector-python==2.7.12
snowflake-sqlalchemy==1.4.4
soupsieve==2.3.2.post1
sq-blocks==0.9.4
sq-pysnowflake==0.14.15
sq-windcatcher==0.1.2
sqcrypt==0.5.2
SQLAlchemy==1.4.26
sqlfluff==2.3.5
src @ file:///Users/jpherson/Development/localflow
stack-data==0.5.0
tblib==3.0.0
tenacity==8.0.1
terminado==0.15.0
tinycss2==1.1.1
toml==0.10.2
tomli==2.0.1
tomlkit==0.12.3
tornado==6.2
tqdm==4.66.1
traitlets==5.3.0
trove-classifiers==2023.11.29
typer==0.9.0
typing_extensions==4.3.0
uritemplate==4.1.1
urllib3==1.26.12
virtualenv==20.24.7
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.4.2
Werkzeug==3.0.1
widgetsnbextension==4.0.2
wrapt==1.14.1
xattr==0.10.1
yarl==1.8.1
zipp==3.17.0
